attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.11
click==8.0.4
cloud-init==19.1
configobj==5.0.6
dataclasses==0.8
esdk-obs-python==3.22.2
Flask==2.0.3
huaweicloudsdkas==3.1.42
huaweicloudsdkcore==3.1.42
idna==3.3
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
jsonpatch==1.32
jsonpointer==2.2
jsonschema==4.0.0
MarkupSafe==2.0.1
oauthlib==3.2.0
pycryptodome==3.10.1
pyrsistent==0.18.0
PyYAML==6.0
requests==2.27.1
requests-toolbelt==1.0.0
simplejson==3.19.1
six==1.16.0
typing-extensions==4.0.1
urllib3==1.26.8
Werkzeug==2.0.3
zipp==3.6.0
